version: "1"

default:
  repository: "local:/data/resticbackup"
  backup:
    verbose: true
    tag:
      - default
    source:
      - "/data/ansible"
      - "/data/appimage"
      - "/data/atareao.es"
      - "/data/bash"
      - "/data/dockers"
      - "/data/flatpak"
      - "/data/gnome"
      - "/data/javascript"
      - "/data/notas"
      - "/data/php"
      - "/data/podcasts"
      - "/data/python"
      - "/data/rust"
      - "/data/secreto"
      - "/data/semaphore"
      - "/data/typescript"
      - "/data/typst"
      - "/data/vaults"
      - "/data/Vídeos"
      - "/home/lorenzo/.password-store"
      - "/home/lorenzo/.ssh"
      - "/home/lorenzo/.config"
      - "/home/lorenzo/.gnupg"
    exclude: 
      - "*.aup"
      - "*.au"
      - "*.mkv"
      - "*.mp3"
      - "/data/**/venv/"
      - "/data/**/target/"
      - "/data/**/.venv/"
      - "/data/**/.git/"
      - "/data/**/.pnpm/"
      - "/data/**/.cargo/"
      - "/data/**/__pycache__/"
s3:
  inherit: default
  repository: "s3:https://{{ env.RESTIC_S3_SERVER }}/restic-archi"
s3one:
  inherit: default
  repository: "s3:https://{{ env.RESTIC_S3_ONE_SERVER }}/restic-one"
