display-name = "{{ env.USER_FNAME }}"
downloads-dir = "~/Descargas"
signature = """
Un saludo,
Lorenzo
"""

[accounts.atareao]
default = true
email = "{{ env.ATAREAO_EMAIL }}"

backend.type = "imap" # imap, maildir or notmuch
backend.host = "imap.dondominio.com"
backend.port = 993
backend.login = "{{ env.ATAREAO_EMAIL }}"
backend.auth.type = "password"
backend.auth.cmd = "pass show atareao/pass"
backend.encryption.type = "tls" # ssl, tls or none

message.send.backend.type = "smtp"
message.send.backend.host = "smpt.dondominio.com"
message.send.backend.port = 465
message.send.backend.login = "{{ env.ATAREAO_EMAIL }}"
message.send.backend.auth.type = "password"
message.send.backend.auth.cmd = "pass show atareao/pass"

folder.aliases.sent = "INBOX.Sent"

[accounts.gmail]
email = "{{ env.USER_EMAIL }}"

backend.type = "imap" # imap, maildir or notmuch
backend.host = "imap.gmail.com"
backend.port = 993
backend.login = "{{ env.USER_EMAIL }}
backend.auth.type = "password"
backend.auth.cmd = "pass show gmail/pass"
backend.encryption.type = "tls" # ssl, tls or none

message.send.backend.type = "smtp" # smtp or sendmail
message.send.backend.host = "smtp.gmail.com"
message.send.backend.port = 465
message.send.backend.login = "{{ env.USER_EMAIL }}"
message.send.backend.auth.type = "password"
message.send.backend.auth.cmd = "pass show gmail/pass"

folder.aliases.inbox = "INBOX"
folder.aliases.sent = "[Gmail]/Sent Mail"
folder.aliases.drafts = "[Gmail]/Drafts"
folder.aliases.trash = "[Gmail]/Trash"

