[user]
	email = {{ env.GMAIL_USER }}
	name = Lorenzo Carbonell <a.k.a. atareao>
	signingkey = 907245000ED25C82C4E914BFB5E8FC9484B82CA9
[commit]
	gpgSign = true
[alias]
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	ca = commit -am
    co = checkout
	cm = commit -m
	d = diff
	dv = difftool -t vimdiff -y
	gl = config --global -l
	last = log -1 HEAD --stat
	lo = log --oneline
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg2 = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	mg = merge --no-edit --no-ff
    nb = checkout -b
	p = push
	rv = remote -v
	se = !git rev-list --all | xargs git grep -F
	s = status -sb
	sw = switch
    undo = reset HEAD~1 --mixed
[help]
	autocorrect = 20
[push]
	autoSetupRemote = true
