[user]
	email = {{ env.GMAIL_EMAIL }}
	name = Lorenzo Carbonell <a.k.a. atareao>
	signingkey = 907245000ED25C82C4E914BFB5E8FC9484B82CA9
[commit]
	gpgSign = true
[alias]
	p = push
	st = status -sb
	ll = log --oneline
	last = log -1 HEAD --stat
	cm = commit -m
	rv = remote -v
	d = diff
	dv = difftool -t vimdiff -y
	gl = config --global -l
	se = !git rev-list --all | xargs git grep -F
	sw = switch
	mg = merge --no-edit --no-ff
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[help]
	autocorrect = 20
[push]
	autoSetupRemote = true
