layout {
    pane split_direction="vertical" {
        pane {
            command "btop"
        }
        pane {
            command "rusty-rain"
            args "-C" "0,139,139" "-H" "255,255,255" "-c" "jap" "-s"
        }
    }
}
