/* colors */
/*  ac:      #42A5F5ff; */

* {
  al:      #00000000;
  bg:      #1f1f1fff;
  se:      #151515ff;
  fg:      #f5f5f5ff;
  ac:      #ffb300ff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #ffb300ff;
  cyan:    #4DD0E1ff;
}
